table {
/* width:500px;*/
 text-align: left;
 border-collapse: collapse;
 empty-cells: hide;
}


th {
 padding: 10px;
 border-bottom: solid 5px #748ca5;
}

td {
 padding: 10px;
 border-bottom: solid 1px #748ca5;
}



