@charset "UTF-8";
* {
	box-sizing: border-box;/*要素が入る幅の設定*/
}
/*ボディの設定-----------------------------------------------------------------------*/
body {
	background-color: #f0f0f0;
	margin: 0;/*要素の外側の余白の幅の設定*/
	padding: 0;/*要素の内側の余白の幅の設定*/
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
/* === ソートボタンを表示するエリア ============== */
.tsImgArea{
  line-height: 2;
}
/* === ソートボタン ============================== */
.tsImg{
  display    : inline-block;
  width      : 20px;
  height     : 15px;
  background : #eee;
  border     : 1px solid #777;
  margin     : 1px 3px;
  padding    : 3px;
  cursor     : pointer;
}
/* === ソートボタン（カーソルオーバー時）========= */
.tsImg:hover{
  background : #FFD700;
}
/* === ソートボタン内の三角の色（SVG）============ */
.tsImg path{
  fill       : #777;
}

.tfArea{
  display    : inline-block;
  position   : relative;
}
.tfImg{
  display    : inline-block;
  width      : 8px;
  height     : 8px;
  background : #eee;
  border     : 1px solid #777;
  margin     : 1px 3px;
  padding    : 3px;
  cursor     : pointer;
}
/* === フィルタボタン（カーソルオーバー時）======= */
.tfImg:hover{
  background : #FFD700;
}
/* === フィルタボタン内の画像色（SVG）============ */
.tfImg path{
  fill       : #777;
}
/* === フィルタリスト ============================ */
.tfList{
  display    : inline-block;
  position   : absolute;
  max-width  : 250px;
  min-width  : 140px;
  background : #fff;
  border     : 1px solid #777;
  top        : 15px;
  left       : 0;
  line-height: 1.1;
  font-weight: normal;
}
/* === フィルタリスト内のform ==================== */
.tfList form{
  max-height : 150px;           /* 縦幅 */
  overflow   : scroll;
  overflow   : overflow-y;
  overflow   : auto;
}
/* === フィルタリスト内のチェックボックス ======== */
.tfMeisai{
  text-align : left;
  padding    : 2px;
}
/* === フィルタリスト内の文字位置合わせ ========== */
.tfMeisai label{
  padding    : 0 10px 0 3px;
}
/* === OK/CANCELボタン =========================== */
.tfBtnArea{
  text-align : center;
  font-size  : 8pt;
  padding    : 3px 5px;
}
.tfBtnArea input{
  display    : inline-block;
  margin     : 0 5px;
}
/* === 含むボタンの入力エリア ==================== */
.tfInStr{
  padding    : 5px 3px;
  border-top : 1px solid #999;
  border-bottom: 1px solid #999;
}
.tfInStr input{
  box-sizing : border-box;
  width      : 100%;
  padding    : 1px 3px;
  font-weight: normal;
  font-size  : 95%;
  border     : 1px solid #ccc;
}
/* === フィルタ非表示 ============================ */
#sampleTable tr[cmanFilterNone]{
  display    : none;
}
/* === フィルタ非表示行と次行の間を二重線にする == */
#sampleTable tr[cmanFilterNone] + tr td{
  border-top : 3px double #777;
}
/*表デザイン------------------------------------------------------------------*/
.design08 {
	width: 85%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	margin:auto

}
.design08 th {
	padding: 10px;
	background: #778ca3;
	border: solid 1px #666666;
	color: #ffffff;
}
.design08 td {
	padding: 10px;
	border: solid 1px #666666;
}

.design08 td:first-child {
	background: #e9faf9;
}
/*ヘッター-----------------------------------------------------------------------*/
header {
	padding: 8px 4% 0px;
	position: fixed;/*要素の場所の固定*/
	top: 0;
	width: 100%;/*幅の設定*/
	background-color: cadetblue;
	display: flex;
	align-items: center;/*フレックスボックスレイアウト作成*/
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);/*影の追加*/
	z-index:10000;/*最上面に表示*/
}
/*ヘッタータイトル*/
h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
}

/*ヘッターaタグ*/
a {
	text-decoration: none;/*装飾の削除*/
	color: white;
}
/*ヘッターnavタグ*/
nav {
	margin: 0 0 0 auto;/*要素の外側の余白の幅の設定*/
}
/*ヘッターulタグ*/
ul {
	list-style: none;/*どのように並べるのか*/
	margin: 0;
	display: flex;
}
/*ヘッターliタグ*/
li {
	margin: 0 0 0 15px;
	font-size: 20px;
	font-weight: bold;
}
/* --- （参考）テーブル全体のスタイル指定 ------- */
#sampleTable {
  width          : 100%;
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
#sampleTable th {
  text-align    : center;            /* 文字位置   */
  font-weight   : bold;              /* 太文字     */
  padding       : 6px 5px;          /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  background    : #99ccff;           /* 背景色     */
  white-space   : nowrap;
}
 /* --- 明細のスタイル指定 ----------------------- */
#sampleTable td {
  text-align    : center;            /* 文字位置   */
  padding       : 3px 5px;           /* 余白       */
  border        : 1px #666666 solid; /* 罫線       */
  white-space   : nowrap;
}
/*ロゴの設定--------------------------------------------------------------------------------*/
.logo {
  float: left;
  margin: 0;
  padding: 0;
}
.logo img {
  width: 85px; /* ロゴの幅 */
  height: auto; /* ロゴの高さを自動調整 */
}
/*フッター-----------------------------------------------------------------------*/
footer {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;/*アイテムの並びの決定*/
	margin-top: auto;/*余白の自動計算設定*/
	text-align: center;
	padding: 10px; /*内部余白の設定*/
    bottom: 0;
}
/*文字線*/
.fnavi li a {
	position: relative;
}
.fnavi li a:hover {
	color: #3c6566;
}
.fnavi li a::after {
	content: '';
	/*絶対配置で線の位置を決める*/
	position: absolute;
	bottom: 0;
	left: 10%;
	/*線の形状*/
	width: 80%;
	height: 2px;
	background: #3c6566;
	/*アニメーションの指定*/
	transition: all .3s;
	transform: scale(0, 1);
	/*X方向0、Y方向1*/
	transform-origin: left top;
	/*左上基点*/
}
.fnavi li a:hover::after {
	transform: scale(1, 1);
	/*X方向にスケール拡大*/
}