@charset "UTF-8";

* {
	box-sizing: border-box;/*要素が入る幅の設定*/
}
/*ボディの設定-----------------------------------------------------------------------*/
body {
	background-color: #f0f0f0;
	margin: 0;/*要素の外側の余白の幅の設定*/
	padding: 0;/*要素の内側の余白の幅の設定*/
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
/*ヘッター-----------------------------------------------------------------------*/
header {
	padding: 30px 4% 0px;
	position: fixed;/*要素の場所の固定*/
	top: 0;
	width: 100%;/*幅の設定*/
	background-color: cadetblue;
	display: flex;
	align-items: center;/*フレックスボックスレイアウト作成*/
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);/*影の追加*/
	z-index:10000;/*最上面に表示*/
}
/*ヘッタータイトル*/
h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
}

/*ヘッターaタグ*/
a {
	text-decoration: none;/*装飾の削除*/
	color: white;
}
/*ヘッターnavタグ*/
nav {
	margin: 0 0 0 auto;/*要素の外側の余白の幅の設定*/
}
/*ヘッターulタグ*/
ul {
	list-style: none;/*どのように並べるのか*/
	margin: 0;
	display: flex;
}
/*ヘッターliタグ*/
li {
	margin: 0 0 0 15px;
	font-size: 20px;
	font-weight: bold;
}
/*フッター-----------------------------------------------------------------------*/
footer {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;/*アイテムの並びの決定*/
	margin-top: auto;/*余白の自動計算設定*/
	text-align: center;
	padding: 10px; /*内部余白の設定*/
    bottom: 0;
}

/*文字線*/
.fnavi li a {
	position: relative;
}

.fnavi li a:hover {
	color: #3c6566;
}

.fnavi li a::after {
	content: '';
	/*絶対配置で線の位置を決める*/
	position: absolute;
	bottom: 0;
	left: 10%;
	/*線の形状*/
	width: 80%;
	height: 2px;
	background: #3c6566;
	/*アニメーションの指定*/
	transition: all .3s;
	transform: scale(0, 1);
	/*X方向0、Y方向1*/
	transform-origin: left top;
	/*左上基点*/
}

.fnavi li a:hover::after {
	transform: scale(1, 1);
	/*X方向にスケール拡大*/
}

/*ボタン（aタグ用）-----------------------------------------------------------------------*/
.button020 a{
	background: #5c5c5c;
	border-radius: 3px;
	position: relative;
	display: flex;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
}
/*ボタン矢印*/
.button020 a:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 2rem;
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right 0.3s;
	width: 6px;
	height: 6px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	transform: translateY(-50%) rotate(45deg);

}
/*ボタンの動き*/
.button020 a:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}
/*矢印の動き*/
.button020 a:hover:after {
	right: 1.4rem;
}
/*ボタン（imputタグ用）-----------------------------------------------------------------------*/
.button019{
	background: #5c5c5c;
	border-radius: 3px;
	position: relative;
	display: flex;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
}
/*ボタン矢印*/
.button019:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 2rem;
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right 0.3s;
	width: 6px;
	height: 6px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	transform: translateY(-50%) rotate(45deg);

}
/*ボタンの動き*/
.button019:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}
/*矢印の動き*/
.button019:hover:after {
	right: 1.4rem;
}
/*登録用背景ボックス------------------------------------------------------------------*/

.ConfirmBox {
	position: relative;
	width: 500px;
	height: px;
	background-color: white;
	/*	margin:100px 100px 50px;*/
	margin: 50px auto;
	padding: 25px 50px;
	border-radius: 20px;
}
/*サブタイトル*/
.kyocho {
	background-color: cadetblue;
	font-weight: bold;
	color: white;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
}
/*表デザイン------------------------------------------------------------------*/
.design08 {
	width: 85%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	margin:auto

}

.design08 th {
	padding: 10px;
	background: #778ca3;
	border: solid 1px #666666;
	color: #ffffff;
}

.design08 td {
	padding: 10px;
	border: solid 1px #666666;
}

.design08 td:first-child {
	background: #e9faf9;
}
/*ボタン（aタグにもimputタグにも使用可能）------------------------------------------------------------------*/
custom-button {
		background-color: #f39700;
		/* ボタンの背景色を赤に設定 */
		color: #ffffff;
		/* ボタンのテキスト色を白に設定 */
		border: none;
		/* ボタンのボーダーをなしに設定 */
		padding: 20px 30px;
		/* ボタンの余白を設定 */
		border-radius: 5px;
		/* ボタンの角を丸くするために設定 */
		/* 他のスタイルプロパティを追加することもできます */
	}
/*写真の設定--------------------------------------------------------------------------------*/
#photo {
		position: center;
		top: 20px;
		right: 20px;
	}
/*項目名*/
.Form-Item-Label {
	width: 100%;
	max-width: 248px;
	letter-spacing: 0.05em;
	font-weight: normal;
	font-size: 18px;
	white-space: nowrap;
}



.Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 48px;
	flex: 1;
	/*  width: 100%;*/
	max-width: 410px;
	background: #eaedf2;
	/*	font-size: 14px;*/
	font-size: 1em;
}
/*チェックボックスをそろえる*/

.form-align {
	display: inline-block;
	text-align: left;
}
.logo {
  float: left;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 100px; /* ロゴの幅 */
  height: auto; /* ロゴの高さを自動調整 */
}