@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	padding: 30px 4% 10px;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: cadetblue;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
	/*↓headerがmainに隠れないようにする*/
	z-index: 99
}

/*ヘッダー内の文字*/
h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: white;
}

nav {
	margin: 0 0 0 auto;
}

ul {
	list-style: none;
	margin: 0;
	display: flex;
}

li {
	margin: 0 0 0 15px;
	font-size: 20px;
	font-weight: bold;
}

/*-------------------------------------------------------------------------*/

/*ボタンの中央揃え*/
.Center {
	text-align: center;
}

/*-------------------------------------------------------------------------*/

.ConfirmBox {
	position: relative;
	width: 500px;
	height: px;
	background-color: white;
	/*	margin:100px 100px 50px;*/
	margin: 50px auto;
	padding: 25px 50px;
	border-radius: 20px;
}

/*-------------------------------------------------------------------------*/
/*サブタイトル*/
.kyocho {
	background-color: cadetblue;
	font-weight: bold;
	color: white;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
}

/*-------------------------------------------------------------------------*/
/*フッターの固定*/
.footerFixed {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer {
	margin-top: auto;
	background-color: #f5f5f5;
	text-align: center;
	padding: 10px;
}

/*文字線*/
.fnavi li a {
	position: relative;
}

.fnavi li a:hover {
	color: #3c6566;
}

.fnavi li a::after {
	content: '';
	/*絶対配置で線の位置を決める*/
	position: absolute;
	bottom: 0;
	left: 10%;
	/*線の形状*/
	width: 80%;
	height: 2px;
	background: #3c6566;
	/*アニメーションの指定*/
	transition: all .3s;
	transform: scale(0, 1);
	/*X方向0、Y方向1*/
	transform-origin: left top;
	/*左上基点*/
}

.fnavi li a:hover::after {
	transform: scale(1, 1);
	/*X方向にスケール拡大*/
}

/* 019 */
.button019 a {
	background: #5c5c5c;
	border-radius: 3px;
	position: relative;
	display: flex;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
}

/*.button019 input {*/
/*	border: none;*/
/*	font-size: 100%;*/

/*}*/



/*矢印*/
.button019 a:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 2rem;
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right 0.3s;
	width: 6px;
	height: 6px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	transform: translateY(-50%) rotate(45deg);

}

.button019 a:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}

/*矢印の動き*/
.button019 a:hover:after {
	right: 1.4rem;
}

/*チェックボックスをそろえる*/
/*.checkboxAlign {*/
/*	display: block;*/
/*	position: relative;*/
/*	padding-left: 1em;*/
/*}*/

/*.checkboxAlign input {*/
/*	position: absolute;*/
/*	top: 0;*/
/*	bottom: 0;*/
/*	left: 0;*/
/*	margin: auto;*/

/*}*/