@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

header {
	padding: 8px 4% 0px;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: cadetblue;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
	/*↓headerがmainに隠れないようにする*/
	z-index: 99
}

/*ヘッダー内の文字*/
h1 {
	margin: 0;
	padding: 0;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: white;
}

nav {
	margin: 0 0 0 auto;
}

ul {
	list-style: none;
	margin: 0;
	display: flex;
}

li {
	margin: 0 0 0 15px;
	font-size: 20px;
	font-weight: bold;
}

/*-------------------------------------------------------------------------*/

/*ボタンの中央揃え*/
.Center {
	text-align: center;
}

/*-------------------------------------------------------------------------*/
/*白い背景*/
.ConfirmBox {
	position: relative;
	width: 700px;
	height: px;
	background-color: white;
	/*	margin:100px 100px 50px;*/
	margin: 50px auto;
	padding: 25px 50px;
	border-radius: 20px;
}

/*-------------------------------------------------------------------------*/
/*サブタイトル*/
.kyocho {
	background-color: cadetblue;
	font-weight: bold;
	color: white;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
}

/*-------------------------------------------------------------------------*/
/*詳細タイトル*/
.kyocho2 {
/*	background-color: cadetblue;*/
/*	border-radius: 20px;*/
	font-weight: bold;
	font-size: 18px;
	color: #383838;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	width: 400px;
	margin: 0 auto;
	 border-bottom: solid 3px #748ca5;
}

/*-------------------------------------------------------------------------*/
/*フッターの固定*/
.footerFixed {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer {
	margin-top: auto;
	background-color: #f5f5f5;
	text-align: center;
	padding: 10px;
}

/*-------------------------------------------------------------------------*/

/*文字線*/
.fnavi li a {
	position: relative;
}

.fnavi li a:hover {
	color: #3c6566;
}

.fnavi li a::after {
	content: '';
	/*絶対配置で線の位置を決める*/
	position: absolute;
	bottom: 0;
	left: 10%;
	/*線の形状*/
	width: 80%;
	height: 2px;
	background: #3c6566;
	/*アニメーションの指定*/
	transition: all .3s;
	transform: scale(0, 1);
	/*X方向0、Y方向1*/
	transform-origin: left top;
	/*左上基点*/
}

.fnavi li a:hover::after {
	transform: scale(1, 1);
	/*X方向にスケール拡大*/
}

/*-------------------------------------------------------------------------*/

/* ログイン前のボタン */
.button019 a {
	background: #5c5c5c;
	border-radius: 3px;
	position: relative;
	display: flex;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
}

/*矢印*/
.button019 a:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 2rem;
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right 0.3s;
	width: 6px;
	height: 6px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	transform: translateY(-50%) rotate(45deg);

}

.button019 a:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}

/*矢印の動き*/
.button019 a:hover:after {
	right: 1.4rem;
}

/*-------------------------------------------------------------------------*/

/*ログイン以降のボタン*/
.button0 {
	width: 300px;
	background: #5c5c5c;
	border-radius: 3px;
	position: relative;
	display: flex;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
	font-size: 15px;
}

/*矢印*/
.button0:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 2rem;
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right 0.3s;
	width: 6px;
	height: 6px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	transform: translateY(-50%) rotate(45deg);

}

.button0:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}

/*矢印の動き*/
.button0:hover:after {
	right: 1.4rem;
}

/*ログイン以降のボタン2*/
.button02 {
	width: 100px;
	background: #5c5c5c;
	border-radius: 3px;
	position: relative;
	display: flex;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
	font-size: 15px;
}

/*矢印*/
.button0:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 2rem;
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right 0.3s;
	width: 6px;
	height: 6px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	transform: translateY(-50%) rotate(45deg);

}

.button0:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}

/*矢印の動き*/
.button0:hover:after {
	right: 1.4rem;
}

/*-------------------------------------------------------------------------*/

/*チェックボックスをそろえる*/

.form-align {
	display: inline-block;
	text-align: left;
}

/*-------------------------------------------------------------------------*/
/*テキストボックス*/


.Form {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	/*  max-width: 720px;*/
}

.Form-Item {
	border-top: 1px solid #ddd;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	display: flex;
	align-items: center;
}

/*項目名*/
.Form-Item-Label {
	width: 100%;
	max-width: 248px;
	letter-spacing: 0.05em;
	font-weight: normal;
	font-size: 18px;
	white-space: nowrap;
}



.Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 48px;
	flex: 1;
	/*  width: 100%;*/
	max-width: 410px;
	background: #eaedf2;
	/*	font-size: 14px;*/
	font-size: 1em;
}

input[type=text] {
	width: 500px;
	height: 45px;
	/*font-size:0.6em;*/
/*	margin: 0 auto;*/
margin-left: 10px;
}

/*-------------------------------------------------------------------------*/
/*必須マーク*/
.hissu {
	border-radius: 3px;
	right: 10px;
	top: 15px;
	border: 1px solid #CCC;
	padding: 0 5px;
	display: inline-block;
	background: #d40000;
	color: #FFF;
	font-size: 85%;
}

/*-------------------------------------------------------------------------*/
/*セレクトボックス*/

.selectbox-001 select {
	width: 410px;
	font-size: 0.6em;
	margin: 0 auto;
}

.selectbox-001 {
	position: relative;
	margin-left: 10px;
}

.selectbox-001::before,
.selectbox-001::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.selectbox-001::before {
	display: inline-block;
	right: 0;
	width: 2.8em;
	height: 2.8em;
	border-radius: 0 3px 3px 0;
	background-color: #5c5c5c;
}

.selectbox-001::after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translate(50%, -50%) rotate(45deg);
	width: 6px;
	height: 6px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}

.selectbox-001 select {
	appearance: none;
	min-width: 230px;
	height: 2.8em;
	padding: .4em 3.6em .4em .8em;
	border: none;
	border-radius: 3px;
	background-color: #eaedf2;
	color: #333;
	font-size: 1em;
	cursor: pointer;
}

.selectbox-001 select:focus {
	outline: 2px solid #5c5c5c;
}



.selectbox-001 option{
	background-color: white;
}

/*-------------------------------------------------------------------------*/
/*家賃セレクトボックス（並列）*/

.RentStyle select {
	width: 187px;
	font-size: 0.6em;
	margin: 0 auto;
}


.RentStyle {
   display: flex;
/*   flex-wrap: wrap;*/
/*   justify-content: center;*/
/*   margin-top: 17%;*/
margin-left: 10px;

}

.RentStyle1 {
/*   opacity: 0.5; */
/*   color: #000;*/
   margin-right: 10px;
}
.RentStyle2 {
/*   opacity: 0.5; */
/*   color: #000;*/
   margin-left: 10px;
}

/*.RentStyle1,.RentStyle2::before,*/
/*.RentStyle1,.RentStyle2::after {*/
/*	position: absolute;*/
/*	content: '';*/
/*	pointer-events: none;*/
/*}*/

/*.RentStyle1,.RentStyle2::before {*/
/*	display: inline-block;*/
/*	right: 0;*/
/*	width: 2.8em;*/
/*	height: 2.8em;*/
/*	border-radius: 0 3px 3px 0;*/
/*	background-color: #5c5c5c;*/
/*}*/

/*.RentStyle1,.RentStyle2::after {*/
/*	position: absolute;*/
/*	top: 50%;*/
/*	right: 1.4em;*/
/*	transform: translate(50%, -50%) rotate(45deg);*/
/*	width: 6px;*/
/*	height: 6px;*/
/*	border-bottom: 3px solid #fff;*/
/*	border-right: 3px solid #fff;*/
/*}*/

.RentStyle1 select,.RentStyle2 select {
	appearance: none;
	min-width: 180px;
	height: 2.8em;
	padding: .4em 3.6em .4em .8em;
	border: none;
	border-radius: 3px;
	background-color: #eaedf2;
	color: #333;
	font-size: 1em;
	cursor: pointer;
}

/*.RentStyle1 select,.RentStyle2 select:focus {*/
/*	outline: 2px solid #5c5c5c;*/
/*}*/

.RentStyle1 option,.RentStyle2 option{
	background-color: white;
}

/*-------------------------------------------------------------------------*/
/*テキストボックスの行間をあける*/
.TableSpace{
/*	border-collapse: separate;*/
    border-spacing: 0px 30px;
}

/*-------------------------------------------------------------------------*/
/*スクロール時にボタンを固定*/
/*（上側のボタン）*/
.StickyButton1 {
	width: 300px;
	background: #5c5c5c;
	border-radius: 3px;
	position: fixed;
	display: block;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
	font-size: 15px;
	
	 right: 10px;
	   bottom: 65px; 
}

.StickyButton1:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}

/*（下側のボタン）*/
.StickyButton2 {
	width: 300px;
	background: #5c5c5c;
	border-radius: 3px;
	position: fixed;
	display: block;
	/*	justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 25px;
	color: white;
	transition: 0.3s ease-in-out;
	font-weight: 500;
	text-decoration: none;
	border: 3px solid #5c5c5c;
	font-weight: normal;
	font-size: 15px;
	
	 right: 10px;
	   bottom: 10px; 
}

.StickyButton2:hover {
	background: #fff;
	color: #5c5c5c;
	border: 3px solid #5c5c5c;
}
/*写真の設定--------------------------------------------------------------------------------*/
#photo {
		position: center;
		top: 20px;
		right: 20px;
	}
.kaisya {
	text-align: center;
    padding: 1px;
}
/*ロゴの設定--------------------------------------------------------------------------------*/
.logo {
  float: left;
  margin: 0;
  padding: 0;
}
.logo img {
  width: 85px; /* ロゴの幅 */
  height: auto; /* ロゴの高さを自動調整 */
}