<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>物件情報登録ページ</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<script>
		function openPopup() {
			alert("ポップアップが表示されましたyo！");
		}
	</script>

	<script type="text/javascript">

		function modalOpen() {
			//------------------------------------------------------------
			//  モーダルウインドウ オープン
			//------------------------------------------------------------
			document.getElementById("modalArea").className = "modalBg modalBgOpen";
		}

		function modalClose() {
			//------------------------------------------------------------
			//  モーダルウインドウ クローズ
			//------------------------------------------------------------
			document.getElementById("modalArea").className = "modalBg modalBgClose";
		}
	</script>
</head>

<body>
	<h1>物件情報登録ページ</h1>
	<form action="#" method="get" th:action="${addhome2}">
		<p>
			ID:<span th:text="*{id}"></span> <input type="hidden" name="id" th:value="*{id}">
		</p>
		<p>
			物件名: <input type="text" name="name1" th:value="*{name}">
		</p>
		<p>
			間取り: <input type="text" name="space" th:value="*{space}">
		</p>
		<p>
			家賃: <input type="text" name="money" th:value="*{money}">
		</p>
		<p>
			住所: <input type="text" name="address" th:value="*{address}">
		</p>
		<p>詳細</p>
		<input type="checkbox" name=“詳細” value="1">無料Wi-Fiあり
		<input type="checkbox" name=“詳細” value="2">駐車場空きあり
		<input type="checkbox" name=“詳細” value="3">ペット可
		<input type="checkbox" name=“詳細” value="4">室内洗濯機置き場あり
		<input type="checkbox" name=“詳細” value="5">オートロックあり
		<input type="checkbox" name=“詳細” value="6">バス・トイレ別

<!--		<input type="submit" value="登録" onclick="openPopup()" th:object="${addhome2}">-->
<!-- 開くボタン -->
	<input type="button" value="登録" onclick="modalOpen()" >

	<!-- ウインドウのエリア -->
	<div id="modalArea" class="modalNoDisp">
		<div class="modalWindow"> <!-- ここがウインドウとなります -->
			<p>登録しますか？</p>
<!--			<p><br><input type="text" value="" style="width:200px"></p>-->
			<p><input type="submit" value="閉じる" onclick="modalClose()" th:action="${addhome2}"></p>
		</div>
	</div>


	</form>
</body>

</html>