<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="/1031.png">
	<title>物件情報登録ページ</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/style-n.css}">
	<script src="modal.js"></script>
</head>

<body>

	<div class="footerFixed">
		<header>
			<div class="logo">
			<h1>
				<a href="/home"><img src="/1031.png"></a>
			</h1>
			</div>
			<nav class="fnavi">
				<ul>
					<li><a href="sampleview.html" th:href="@{/sampleview}">物件探し</a></li>
					<li><a href="#">企業情報</a></li>
					<li><a href="news.html" th:href="@{/news}">お知らせ</a></li>
					<li><a href="form.html" th:href="@{/form}">お問い合わせ</a></li>
				</ul>
			</nav>
		</header>

		<br>

		<div class="ConfirmBox">
			<h2 class="kyocho">物件情報登録</h2>
			<div class="Center">

				<form action="#" method="get">
					<div class="form-align">
						<table class="TableSpace">

							<p>
								<span th:text="*{id}"></span>
								<input type="hidden" name="id" th:value="*{id}">
							</p>

							<tr>
								<th><span class="hissu">必須</span>
									<label class="Form-Item-Label">物件名</label>
								</th>
								<td><input type="text" name="name" th:value="*{name}" required class="Form-Item-Input"
										placeholder="例）コーポ◯◯"></td>
							</tr>

							<tr>
								<th><span class="hissu">必須</span>
									<label for="dropdown" class="Form-Item-Label">間取り</label>
								</th>
								<td>
									<label class="selectbox-001">
										<select name="space">
											<option hidden>選択してください</option>
											<option value="1R">1R</option>
											<option value="1K">1K</option>
											<option value="1DK">1DK</option>
											<option value="1LDK">1LDK</option>
								</td>
								</select>
								</label>
							</tr>
							<tr>
								<th><span class="hissu">必須</span>
									<label class="Form-Item-Label">家　賃</label>
								</th>
								<td><input type="text" name="money" th:value="*{money}" required class="Form-Item-Input"
										placeholder="例）50000"></td>
							</tr>
							<tr>
								<th><span class="hissu">必須</span>
									<label class="Form-Item-Label">住　所</label>
								</th>
								<td><input type="text" name="address" th:value="*{address}" class="Form-Item-Input"
										placeholder="例）大阪府"></td>
							</tr>

							<!--							<p>-->
							<!--								　家賃: <input type="text" name="money" th:value="*{money}" required>-->
							<!--							</p>-->
							<!--							<p>-->
							<!--								　住所: <input type="text" name="address" th:value="*{address}" required>-->
							<!--							</p>-->
							<!--						</div>-->

						</table>
					</div>
					<br><br>
					<p class="kyocho2">詳　細</p><br>
					<div class="form-align">
						<input type="checkbox" name="comment" value="1" id="comment1">無料Wi-Fiあり<br>
						<input type="checkbox" name="comment" value="2" id="comment2">駐車場空きあり<br>
						<input type="checkbox" name="comment" value="3" id="comment3">ペット可<br>
						<input type="checkbox" name="comment" value="4" id="comment4">室内洗濯機置き場あり<br>
						<input type="checkbox" name="comment" value="5" id="comment5">オートロックあり<br>
						<input type="checkbox" name="comment" value="6" id="comment6">バス・トイレ別<br>
						<input type="checkbox" name="comment" value="7" id="comment7">南向き<br>
						<input type="checkbox" name="comment" value="8" id="comment8">事故物件<br>
						<input type="checkbox" name="comment" value="9" id="comment9">危険地帯<br>
						<input type="checkbox" name="comment" value="10" id="comment10">物干しあり<br>
						<input type="checkbox" name="comment" value="11" id="comment11">コンビニあり<br>
						<input type="checkbox" name="comment" value="12" id="comment12">無料Wi-Fiあり<br>
						<input type="checkbox" name="comment" value="13" id="comment13">ウォーターサーバーあり<br>
						<input type="checkbox" name="comment" value="14" id="comment14">窓なし<br><br>
<br>
					</div>
					<!-- 開くボタン -->

					<input type="button" value="確　認" onclick="validateAndOpenModal()" class="button0">


					<!-- ウインドウのエリア -->
					<div id="modalArea" class="modalNoDisp">
						<div class="modalWindow">
							<!-- ここがウインドウとなります -->
							<h2>入力データ</h2>
							<p id="popupName"></p>
							<p id="popupSpace"></p>
							<p id="popupMoney"></p>
							<p id="popupAddress"></p>
							<p id="popupComment"></p>
							<p>登録しますか？</p>
							<p><input type="submit" value="登録" onclick="modalClose()" th:action="@{/addhome2}"></p>
							<p><input type="submit" value="やめる" onclick="modalClose()"></p>
						</div>
					</div>
				</form>
			</div>
			<br>
		</div>
		<div class="footer">
			<p>copyright 一人暮らしの家探し 2023</p>
		</div>

	</div>

</body>

</html>