<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>HOME</title>
</head>

<body>

	<h1>一人暮らしの家探し</h1>

	<table border="1">

		<tr>
<!--			<th>ID</th>-->
			<th>チャット</th>
			<th>name</th>
		</tr>
		<tr th:each=" res : ${dbList}">
<!--			<td th:text="${res.id}">1</td>-->
			<td th:text="${res.chat}">chat</td>
			<td th:text="${res.name}">name</td>


	</table>

	<form action="#" method="get" th:action="@{/addchat}">
		<p>
			<span th:text="*{id}"></span> <input type="hidden" name="id" th:value="*{id}">
		</p>
		<p>
			chat: <input type="text" name="chat" th:value="*{chat}" required>
		</p>
		<p>
			name: <input type="text" name="name" th:value="*{name}" placeholder="山田　太郎" required>
		</p>
		<input type="submit" value="送信">
	</form>

</body>

</html>