<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/style-o.css}">
	<title>ログインページ</title>
	<meta charset="utf-8" />
</head>

<header>
			<h1>
				<a href="/home">一人暮らしの家探し（不動産業者様用ページ）</a>
			</h1>
			<nav class="fnavi">
				<ul>
					<li><a href="#">企業情報</a></li>
					<li><a href="#">お知らせ</a></li>
					<li><a href="#">お問い合わせ</a></li>
				</ul>
			</nav>
</header>

<body>
	<h1>ログインページ</h1>
	<!--	 <form method="get" action="#" th:action="@{/merchant}" th:object="${input}">-->

	<!--		<p>ログインID：<input type="text" name="login2" th:value="*{login2}"></p>-->
	<!--		<div th:if="${#fields.hasErrors('login2')}" th:errors="*{login2}">エラーメッセージ</div>-->
	<!--		<p>パスワード：<input type="text" name="pass2" th:value="*{pass2}"></p>-->
	<!--		<div th:if="${#fields.hasErrors('pass2')}" th:errors="*{pass2}">エラーメッセージ</div>-->

	<!--		<form th:action="@{/}">-->
	<!--			<input type="submit" value="ログイン">-->
	<!--		</form>-->

	<!--		<form th:action="@{/signup2}">-->
	<!--			<input type="submit" value="お客様用新規登録画面へ">-->
	<!--		</form>-->

	<!--		<form th:action="@{/login1}">-->
	<!--			<input type="submit" value="不動産用ログインページへ">-->
	<!--		</form>-->


	<form method="post" action="/customer" th:action="@{/customermenu}">
		<p>ログインID：<input type="text" name="login2" required></p>
		<!--		<div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">エラーメッセージ</div>-->
		<p>パスワード：<input type="text" name="pass2" required></p>
		<!--		<div th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">エラーメッセージ</div>-->
		<input type="submit" value="ログイン">
		<p th:text="${result}"></p>

	</form>
	<form th:action="@{/signup2}">
		<input type="submit" value="新規登録画面へ">
	</form>
	<br>
	<form th:action="@{/login1}">
		<input type="submit" value="不動産用ログインページへ">
	</form>
	<br>
	<form th:action="@{/home}">
		<input type="submit" value="ホーム画面へ戻る">
	</form>



</body>

</html>