<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="/1031.png">
	<meta charset="UTF-8">
	<title>メニュー</title>
	<link rel="stylesheet" th:href="@{/style-o.css}">
	<link rel="stylesheet" th:href="@{/style-n.css}">
</head>
<header>
	<div class="logo">
		<h1>
			<a href="/customermenu"><img src="/1031.png"></a>
		</h1>
	</div>
	<nav class="fnavi">
		<ul>
			<li><a th:href="@{/gomo}">ミニゲーム</a></li>
			<li><a href="intro">企業情報</a></li>
			<li><a href="news.html">お知らせ</a></li>
			<li><a href="form.html">お問い合わせ</a></li>
			<li><a href="home.html" th:href="@{/home}">ログアウト</a></li>
		</ul>
	</nav>
</header>

<body>

	<br><br>
	<div class="ConfirmBox" style="width: 700px;"><br><br>
		<h1 class="kyocho">メニュー</h1>
		<br><br><br>
		<form th:action="@{/viewhome2}">
			<input type="submit" value="物件検索" class="button0">
		</form><br><br>
		<form th:action="@{/chat}">
			<input type="submit" value="不動産業者とチャット" class="button0">
			<input type="hidden" name="logId" th:value="*{logId}">
			<input type="hidden" name="tp" value="customer">
		</form>
		<br><br>
	</div>
	<br><br>

	<footer>
		<p>copyright 一人暮らしの家探し 2023</p>
	</footer>

</body>

</html>