<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>物件情報登録ページ</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<script src="modal.js"></script>
</head>

<body>
	<h1>物件情報編集ページ</h1>
	<div th:object="${entity}">
		<form action="#" method="get" th:action="@{/edit/__*{id}__/exe}">
			<p>
				<span th:text="*{id}"></span> <input type="hidden" name="id" th:value="*{id}">
			</p>
			<p>
				物件名: <input type="text" name="name" th:value="*{name}" required>
			</p>
			<label for="dropdown">間取り:</label>
			<select name="space">
				<option hidden>選択してください</option>
				<option value="1R">1R</option>
				<option value="1K">1K</option>
				<option value="1DK">1DK</option>
				<option value="1LDK">1LDK</option>
			</select>
			<p>
				家賃: <input type="text" name="money" th:value="*{money}" required>
			</p>
			<p>
				住所: <input type="text" name="address" th:value="*{address}" required>
			</p>
			<p>詳細</p>
				<label><input type="checkbox" name="comment" value="無料Wi-Fiあり" id="comment1">無料Wi-Fiあり<br></label>
				<label><input type="checkbox" name="comment" value="駐車場空きあり" id="comment2">駐車場空きあり<br></label>
				<label><input type="checkbox" name="comment" value="ペット可" id="comment3">ペット可<br></label>
				<label><input type="checkbox" name="comment" value="室内洗濯機置き場あり" id="comment4">室内洗濯機置き場あり<br></label>
				<label><input type="checkbox" name="comment" value="オートロックあり" id="comment5">オートロックあり<br></label>
				<label><input type="checkbox" name="comment" value="バス・トイレ別" id="comment6">バス・トイレ別</label>
			<br><br>


			<input type="submit" value="仮">


			<!-- 開くボタン -->
			<input type="button" value="確認" onclick="validateAndOpenModal()">

			<!-- ウインドウのエリア -->
			<div id="modalArea" class="modalNoDisp">
				<div class="modalWindow"> <!-- ここがウインドウとなります -->
					<h2>入力データ</h2>
					<p id="popupName"></p>
					<p id="popupSpace"></p>
					<p id="popupMoney"></p>
					<p id="popupAddress"></p>
					<p id="popupComment"></p>
					<p>登録しますか？</p>
					<p><input type="submit" value="閉じる" onclick="modalClose()" th:action="@{/edithome/__*{id}__/exe}">
					</p>
				</div>
			</div>
		</form>
	</div>
</body>

</html>