<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="/1031.png">
	<title>物件情報編集</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/style-n.css}">
	<script src="modal2.js"></script>
</head>

<body>

	<div class="footerFixed">
		<header>
			<div class="logo">

				<h1>
					<a th:href="@{/merchant(logId=${logId})}"><img src="/1031.png"></a>
				</h1>
			</div>
			<nav class="fnavi">
				<ul>
					<li><a th:href="@{/gomo}">ミニゲーム</a></li>
					<!--					<li><a href="sampleview.html" th:href="@{/sampleview}">物件探し</a></li>-->
					<li><a href="#">企業情報</a></li>
					<li><a href="http://localhost:8080/news#olr">お知らせ</a></li>
					<li><a href="form.html" th:href="@{/form}">お問い合わせ</a></li>
					<li><a href="home.html" th:href="@{/home}">ログアウト</a></li>
				</ul>
			</nav>
		</header>

		<br>

		<div class="ConfirmBox">
			<h2 class="kyocho">物件情報編集</h2>
			<div th:object="${entity}">
				<form action="#" method="get" th:action="@{/edit/__*{id}__/exe}">
					<div class="form-align">
						<table class="TableSpace">
							<p class="kyocho2">
								物件ID : <span th:text="*{id}"></span>
								<input type="hidden" name="id" th:value="*{id}">
							</p>
							<tr>
								<th><span class="hissu">必須</span>
									<label class="Form-Item-Label">物件名</label>
								</th>
								<td><input type="text" name="name" th:value="*{name}" required class="Form-Item-Input">
								</td>
							</tr>
							<tr>
								<th><span class="hissu">必須</span>
									<label for="dropdown" class="Form-Item-Label">間取り</label>
								</th>
								<td>
									<label class="selectbox-001">
										<select name="space" class="selectbox-001">
											<option hidden>選択してください</option>
											<option value="1R" th:selected="${entity.space == '1R'}">1R</option>
											<option value="1K" th:selected="${entity.space == '1K'}">1K</option>
											<option value="1DK" th:selected="${entity.space == '1DK'}">1DK</option>
											<option value="1LDK" th:selected="${entity.space == '1LDK'}">1LDK</option>
										</select>
									</label>
							</tr>
							<tr>
								<th><span class="hissu">必須</span>
									<label class="Form-Item-Label">家　賃</label>
								</th>
								<td><input type="text" name="money" th:value="*{money}" required
										class="Form-Item-Input">
								</td>
							</tr>
							<tr>
								<th><span class="hissu">必須</span>
									<label class="Form-Item-Label">住　所</label>
								</th>
								<td><input type="text" name="address" th:value="*{address}" required
										class="Form-Item-Input">
								</td>
							</tr>
						</table>
					</div>
					<br><br>
					<p class="kyocho2">詳　細</p><br>
					<div class="form-align">
						<label><input type="checkbox" name="comment" value="無料Wi-Fiあり" id="comment1"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '無料Wi-Fiあり')}">無料Wi-Fiあり<br></label>
						<label><input type="checkbox" name="comment" value="駐車場空きあり" id="comment2"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '駐車場空きあり')}">駐車場空きあり<br></label>
						<label><input type="checkbox" name="comment" value="ペット可" id="comment3"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, 'ペット可')}">ペット可<br></label>

						<label><input type="checkbox" name="comment" value="室内洗濯機置き場あり" id="comment4"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '室内洗濯機置き場あり')}">室内洗濯機置き場あり<br></label>

						<label><input type="checkbox" name="comment" value="オートロックあり" id="comment5"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, 'オートロックあり')}">オートロックあり<br></label>

						<label><input type="checkbox" name="comment" value="バス・トイレ別" id="comment6"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, 'バス・トイレ別')}">バス・トイレ別<br></label>

						<label><input type="checkbox" name="comment" value="南向き" id="comment7"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '南向き')}">南向き<br></label>

						<label><input type="checkbox" name="comment" value="事故物件" id="comment8"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '事故物件')}">事故物件<br></label>

						<label><input type="checkbox" name="comment" value="危険地帯" id="comment9"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '危険地帯')}">危険地帯<br></label>

						<label><input type="checkbox" name="comment" value="物干しあり" id="comment10"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '物干しあり')}">物干しあり<br></label>

						<label><input type="checkbox" name="comment" value="コンビニあり" id="comment11"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, 'コンビニあり')}">コンビニあり<br></label>

						<label><input type="checkbox" name="comment" value="無料Wi-Fiなし" id="comment12"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '無料Wi-Fiなし')}">無料Wi-Fiなし<br></label>

						<label><input type="checkbox" name="comment" value="ウォーターサーバーあり" id="comment13"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, 'ウォーターサーバーあり')}">ウォーターサーバーあり<br></label>

						<label><input type="checkbox" name="comment" value="窓なし" id="comment14"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '窓なし')}">窓なし<br></label>
						<label><input type="checkbox" name="comment" value="屋根なし" id="comment15"
								th:checked="${entity != null && entity.comment != null && #strings.contains(entity.comment, '屋根なし')}">屋根なし<br></label>
						<br>
					</div>
					<br><br>
					<input type="submit" value="登　録" class="button0" onclick="return confirm('物件情報を更新してもよろしいですか？');">

					<input type="hidden" name="logId" th:value="${logId}">
				</form>
			</div>

		</div>
		<div class="footer">
			<p>copyright 一人暮らしの家探し 2023</p>
		</div>

	</div>

</body>

</html>