
<!DOCTYPE html>
<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
  <script>

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyB116kipWFq-zSpg1-MWEIfVZB499Fsrac",
  authDomain: "team1-341ca.firebaseapp.com",
  databaseURL: "https://team1-341ca-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "team1-341ca",
  storageBucket: "team1-341ca.appspot.com",
  messagingSenderId: "918682117985",
  appId: "1:918682117985:web:1daa991ee00cfb76a94720"
};

  firebase.initializeApp(firebaseConfig);
  var db = firebase.database();

  function sendData() {
    const input = document.getElementById("message")
    db.ref("messages").push(input.value)
  }    

  </script>
</head>

<body>
  <h2>Firebase Realtime Database データ送信</h2>
  <input type="text" id="message">
  <button type="button" onclick="sendData()">データを送信</button>
</body>

</html>