
<!DOCTYPE html>
<html>

<head>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>

  <script>

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyB116kipWFq-zSpg1-MWEIfVZB499Fsrac",
  authDomain: "team1-341ca.firebaseapp.com",
  databaseURL: "https://team1-341ca-default-rtdb.asia-southeast1.firebasedatabase.app",
  projectId: "team1-341ca",
  storageBucket: "team1-341ca.appspot.com",
  messagingSenderId: "918682117985",
  appId: "1:918682117985:web:1daa991ee00cfb76a94720"
};
    firebase.initializeApp(firebaseConfig);
    var db = firebase.database();

    db.ref("messages").on("child_added", function(snapshot) {
      var data = snapshot.val();
      console.log("受信データ:", data);
      const messageArea = document.getElementById("messageArea")
      const div = document.createElement("div")
      const timestamp = document.createElement("h6")
      const message = document.createElement("h3")
      message.innerHTML = data
      div.setAttribute("style", "padding: 10px; margin-bottom: 10px; border: 1px solid #333333; border-radius: 10px; background-color: #ffff99;")
      div.appendChild(timestamp)
      div.appendChild(message)
      messageArea.appendChild(div)
    });

  
    </script>
  
</head>

<body>
  <h2>Firebase Realtime Database データ受信</h2>
  <div id="messageArea"></div>
</body>

</html>