<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="/1031.png">
	<meta charset="utf-8" />
	<title>お問い合わせ</title>
	<link rel="stylesheet" href="style-n.css">
	<link rel="stylesheet" href="form.css" media="all" />
</head>

<body>
	<header id="header">
		<div class="wrapper">
			<p class="logo"><a href="#"></a></p>
			<nav>
				<ul>
					<li><a href="sampleview.html" th:href="@{/sampleview}">物件探し</a></li>
					<li><a href="#">トップ</a></li>
					<li><a href="#">お知らせ</a></li>
					<li><a href="#">お問い合わせ</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<form method="get" th:action="@{/checkform}" th:object="${forminput}">
		<div class="contact">
			<h1 class="contact-ttl">お問い合わせフォーム</h1>
			<table class="contact-table">
				<tr>
					<th class="contact-item">名前</th>
					<td class="contact-body">
						<!--						<input type="text" name="名前" class="form-text" />-->
						<input type="text" id="name" name="Name" th:value="*{Name}" class="text-input"><br>
						<span th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}" class="error"></span>
					</td>
				</tr>
				<tr>
					<th class="contact-item">性別</th>
					<td class="contact-body">
						<label class="contact-sex">
							<input type="radio" name="性別" />
							<span class="contact-sex-txt">男</span>
						</label>
						<label class="contact-sex">
							<input type="radio" name="性別" />
							<span class="contact-sex-txt">女</span>
						</label>
					</td>
				</tr>
				<tr>
					<th class="contact-item">メール</th>
					<td class="contact-body">
						<input type="email" name="メール" class="form-text" />
					</td>
				</tr>
				<tr>
					<th class="contact-item">電話</th>
					<td class="contact-body">
						<input type="tel" name="電話" class="form-text" />
					</td>
				</tr>
				<tr>
					<th class="contact-item">職業</th>
					<td class="contact-body">
						<select name="職業" class="form-select">
							<option>選択</option>
							<option>学生</option>
							<option>主婦</option>
							<option>会社員</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="contact-item">お問い合わせ内容</th>
					<td class="contact-body">
						<textarea name="問い合わせ" class="form-textarea"></textarea>
					</td>
				</tr>
			</table>
			<input class="contact-submit" type="submit" value="送信" />
		</div>
	</form>
</body>

</html>