<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>オセロゲーム</title>
	<link rel="stylesheet" href="gomo.css">
	<link rel="icon" href="/1031.png">
</head>

<body>
	<header>
			<div class="logo">
				<h1>
					<a href="/home"><img src="/1031.png"></a>
				</h1>
			</div>
			<nav class="fnavi">
				<ul>
					<li><a th:href="@{/gomo}">ミニゲーム</a></li>
<!--					<li><a href="sampleview.html" th:href="@{/sampleview}">物件探し</a></li>-->
					<li><a th:href="@{/intro}">企業情報</a></li>
					<li><a href="#">お知らせ</a></li>
				</ul>
			</nav>
		</header>
		<br><br><br><br><br>
	<p>現在の手番は<span id="current-turn">黒</span>です</p>
	<div id="stage" class="stage"></div>
	<div id="square-template" class="square">
		<div class="stone"></div>
	</div>
	<button id="pass" class="button019">パスする</button>
	<script src="gomo.js"></script>
</body>

</html>