<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>物件</title>

	<link rel="stylesheet" th:href="@{/style-n.css}">
</head>

<body>

	<div class="footerFixed">
		<header>
			<h1>
				<a href="/home">一人暮らしの家探し</a>
			</h1>
			<nav class="fnavi">
				<ul>
					<li><a th:href="@{/sampleview}">物件探し</a></li>
					<li><a th:href="@{/intro}">企業情報</a></li>
					<li><a href="news.html" th:href="@{/news}">お知らせ</a></li>
					<li><a href="form.html" th:href="@{/form}">お問い合わせ</a></li>
				</ul>
			</nav>
		</header>

		<br><br>

		<br><br>

		<div class="button019">
			<a href="login2.html" th:href="@{/login2}">一般のお客様はこちら</a>
		</div>
		<br><br>

		<div class="button019">
			<a href="login1.html" th:href="@{/login1}">不動産業者の方はこちら</a>
		</div>

		<div class="footer">
			<p>copyright 一人暮らしの家探し 2023</p>
		</div>

	</div>

</body>

</html>