<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/style-o.css}">
	<title>ログインページ</title>
	<meta charset="utf-8" />
</head>


<header>

	<h1>
		<a href="/home">一人暮らしの家探し</a>
	</h1>
	<nav class="fnavi">
		<ul>
			<li><a href="#">企業情報</a></li>
			<li><a href="#">お知らせ</a></li>
			<li><a href="#">お問い合わせ</a></li>
		</ul>
	</nav>

</header>


<body>
	<br><br><br><br><br>
	<div class="ConfirmBox">
		<h1 class="kyocho">お客様用ログインページ</h1>
		<!--	 <form method="get" action="#" th:action="@{/merchant}" th:object="${input}">-->

		<!--		<p>ログインID：<input type="text" name="login2" th:value="*{login2}"></p>-->
		<!--		<div th:if="${#fields.hasErrors('login2')}" th:errors="*{login2}">エラーメッセージ</div>-->
		<!--		<p>パスワード：<input type="text" name="pass2" th:value="*{pass2}"></p>-->
		<!--		<div th:if="${#fields.hasErrors('pass2')}" th:errors="*{pass2}">エラーメッセージ</div>-->

		<!--		<form th:action="@{/}">-->
		<!--			<input type="submit" value="ログイン">-->
		<!--		</form>-->

		<!--		<form th:action="@{/signup2}">-->
		<!--			<input type="submit" value="お客様用新規登録画面へ">-->
		<!--		</form>-->

		<!--		<form th:action="@{/login1}">-->
		<!--			<input type="submit" value="不動産用ログインページへ">-->
		<!--		</form>-->


		<form method="post" action="/login2">
			<p>ログインID：<input type="text" name="logId2" required></p>
			<!--		<div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">エラーメッセージ</div>-->
			<p>パスワード：<input type="password" name="pass2" required></p>
			<!--		<div th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">エラーメッセージ</div>-->
			<input type="submit" value="ログイン" class="button019">
			<p th:text="${result}"></p>

		</form>

		<div class="button020">
			<a href="signup2.html" th:href="@{/signup2}">新規登録</a>
		</div>
		<br>
		<div class="button020">
			<a href="login1.html" th:href="@{/login1}">不動産用ログインページへ</a>
		</div>
		<br>
		<div class="button020">
			<a href="home.html" th:href="@{/home}">ホーム画面へ戻る</a>
		</div>
		<br><br>
	</div>
	<footer>
		<p>copyright 一人暮らしの家探し 2023</p>
	</footer>

</body>

</html>