<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ログインページ</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>ログインページ</h1>

	<form method="post" action="/login1">

		<p>ログインID：<input type="text" name="logId1" required></p>
		<!--		<div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">エラーメッセージ</div>-->
		<p>パスワード：<input type="text" name="pass1" required></p>
		<!--		<div th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">エラーメッセージ</div>-->

		<input type="submit" value="ログイン">
		<p th:text="${result}"></p>
	</form>
	
	<form th:action="@{/signup1}">
		<input type="submit" value="不動産用新規登録画面へ">
	</form>
		<br>
	<form th:action="@{/customer}">
		<input type="submit" value="一般のお客様用ログインページへ">
	</form>

</body>



</html>