<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>HOME</title>

	<link rel="stylesheet" th:href="@{/style-n.css}">
</head>

<body>
	addhome 物件追加<br>
	chat　チャット<br>
	login2 顧客ログイン<br>
	customermenu 顧客メニュー<br>
	customersearch 物件検索(顧客)<br>
	edithome 物件編集（業者）<br>
	home ホーム<br>
	login1 業者ログイン<br>
	merchant 業者メニュー<br>
	merchantsearch 物件検索(業者)<br>
	register1 新規登録(業者)<br>
	register2 新規登録(顧客)<br>
	signup1 ログイン(業者)<br>
	signup2 ログイン(顧客)<br>
	viewhome 物件一覧(業者)<br>
</body>

</html>