<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>HOME</title>
</head>

<body>

	<h1>一人暮らしの家探し</h1>
	<form method="get" action="/memsearch">
		<input type="hidden" name="logId" th:value="*{logId}">
		<input type="text" name="memname">
		<input type="hidden" name="tp" th:value="*{tp}">
		<input type="submit" value="検索" class="button">
	</form>

	<table border="1">

		<tr>
			<th>name</th>
		</tr>
		<tr th:each=" res : ${dbList}">
			<td>
				<form th:action="@{/startchat}">
					<input type="submit" th:value="${res.name}">
					<input type="hidden" name="Id" th:value="${res.id}">
					<input type="hidden" name="logId" th:value="*{logId}">
					<input type="hidden" name="memname" th:value="*{memname}">
					<input type="hidden" name="tp" th:value="*{tp}">
				</form>
			</td>


	</table>

</body>

</html>