<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>メニュー（業者用） - 一人暮らしの家探し</title>
</head>

<body>

	<h1>メニュー（業者用）</h1>


<!--<form th:action="@{/touroku}">-->
<!--<input type="button" value="物件情報　新規登録">-->
<!--</form>-->

	<p>物件情報　新規登録</p>
	<a href="touroku.html" th:href="@{/touroku}"></a>

	<br>

<!--<form th:action="@{/list}">-->
<!--<input type="button" value="物件情報　一覧">-->
<!--</form>-->

	<p>物件情報　一覧</p>
	<a href="list.html" th:href="@{/list}"></a>

	<br>

<form th:action="@{/chat}">
<input type="button" value="顧客とチャット">
</form>	
	
<!--	<p>顧客とのチャット</p>-->
<!--	<a href="chat.html" th:href="@{/chat}"></a>-->


</body>

</html>