<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>メニュー（業者用） - 一人暮らしの家探し</title>
	<link rel="stylesheet" th:href="@{/style-o.css}">
	<link rel="icon" href="/1031.png">
</head>

<header>
	<div class="logo">

			<h1>
				<a href="/home"><img src="/1031.png"></a>
			</h1>
			</div>
			<nav class="fnavi">
				<ul>
					<li><a href="#">企業情報</a></li>
					<li><a href="news.html" th:href="@{/news}">お知らせ</a></li>
					<li><a href="form.html" th:href="@{/form}">お問い合わせ</a></li>
				</ul>
			</nav>
		</header>

<body>
	<br><br><br><br><br>

<div class="ConfirmBox">
	<h2 class="kyocho">メニュー</h2>

	<form th:action="@{/addhome}">
		<input type="submit" value="物件情報　新規登録" class="button019">
	</form>
	<br><br>

	<form th:action="@{/viewhome}">
		<input type="submit" value="物件情報　一覧" class="button019">
	</form>


	<br><br>

	<form th:action="@{/chat}">
		<input type="submit" value="顧客とチャット" class="button019">
		<input type="hidden" name="logId" th:value="*{logId}">
		<input type="hidden" name="tp" value="merchant">
	</form>
	<br>
	</div>


	<footer>
		<p>copyright 一人暮らしの家探し 2023</p>
	</footer>



</body>

</html>