<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>検索結果</title>
</head>

<body>

	<label th:text="${sort}"></label>
	<form method="get" action="#" th:action="@{/sort}">
		<input type="hidden" name="bkname" th:value="*{bkname}">
		<input type="hidden" name="space" th:value="*{space}">
		<input type="hidden" name="start" th:value="*{start}">
		<input type="hidden" name="end" th:value="*{end}">
		<input type="hidden" name="place" th:value="*{place}">
		<input type="hidden" name="comment" th:value="*{comment}">
		<input type="hidden" name="type" value="merchant">
		家賃並び替え
		<button type="submit" name="sort" value="ASC">昇順</button>
		<button type="submit" name="sort" value="DESC">降順</button>
	</form>
	<form th:action="@{/viewhome}">
		<input type="submit" value="一覧へ戻る">
	</form>
	<form th:action="@{/merchant}">
		<input type="submit" value="メニューへ戻る">
	</form>
	<table border="1">

		<tr>
			<th>ID</th>
			<th>物件名</th>
			<th>間取り</th>
			<th>家賃</th>
			<th>住所</th>
			<th>詳細</th>
		</tr>
		<tr th:each=" res : ${dbList}">
			<td th:text="${res.id}">1</td>
			<td th:text="${res.name}">物件名</td>
			<td th:text="${res.space}">間取り</td>
			<td th:text="${res.money}">家賃</td>
			<td th:text="${res.address}">住所</td>
			<td th:text="${res.comment}">詳細</td>

			<td>
				<form th:action="@{/edithome/{id}(id=${res.id})}">
					<input type="submit" value="編集">

				</form>
			</td>
			<td>
				<form th:action="@{/del/{id}(id=${res.id})}">
					<input type="submit" value="削除" onclick="return confirm('物件情報を削除してもよろしいですか？');">
				</form>
			</td>
		</tr>
	</table>

</body>

</html>