<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="/1031.png">
	<meta charset="utf-8" />
	<title>お知らせ</title>
	<link rel="stylesheet" th:href="@{/style-n.css}">
	<link rel="stylesheet" th:href="@{/news.css}">
</head>

<body>
	<div class="footerFixed">
		<header>
			<div class="logo">
			<h1>
				<a href="/home"><img src="/1031.png"></a>
			</h1>
			</div>
			<nav class="fnavi">
				<ul>
					<li><a th:href="@{/gomo}">ミニゲーム</a></li>
					<li><a href="sampleview.html" th:href="@{/sampleview}">物件探し</a></li>
					<li><a th:href="@{/intro}">企業情報</a></li>
					<li><a href="#">お知らせ</a></li>
				</ul>
			</nav>
	</header>

	<table>
		<tr>
			<th><font size="6">物件お知らせ</font></th>
		</tr>
		<tr th:each=" res : ${dbList}">
			<td th:text="|${res.address}の物件一覧に${res.name}が追加されました|"></td>
		</tr>
	</table>
</div>
</body>


</html>