<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/style-o.css}">
	<title>Hello</title>
	<meta charset="utf-8" />
</head>

<header>
			<h1>
				<a href="/home">一人暮らしの家探し</a>
			</h1>
			<nav class="fnavi">
				<ul>
					<li><a href="#">企業情報</a></li>
					<li><a href="#">お知らせ</a></li>
					<li><a href="#">お問い合わせ</a></li>
				</ul>
			</nav>
</header>

<body>
	<br><br><br><br><br>
	<h1>ユーザー登録画面</h1>
	<p>IDとパスワードを設定してください</p>

	<form method="get" action="#" th:action="@{/register1}" th:object="${userinput}">

		<!--		<span th:if="${#fields.hasErrors('logId')}" th:errors="*{logId}" class="error"></span>-->
		<!--		<span th:if="${#fields.hasErrors('pass1')}" th:errors="*{pass1}" class="error"></span>-->
		<!--		<span th:if="${#fields.hasErrors('pass2')}" th:errors="*{pass2}" class="error"></span>-->
		<!--		<span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error"></span>-->
		<!--		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>-->
		<p th:text="${mes1}"></p>
		<p>
			ID：<input type="text" name="logId" placeholder="IDを入力してください" th:value="${logId}"required>
		</p>
		<p>
			パスワード：<input type="text" name="pass1" placeholder="パスワードを入力してください" th:value="${pass1}" required>
		</p>
		<p>
			パスワード（確認用）：<input type="text" name="pass2" placeholder="パスワードを入力してください" th:value="${pass2}" required>
		</p>
		<p>
			不動産名：<input type="text" name="type" placeholder="不動産名を入力してください" th:value="${type}" required>
		</p>
		<p>
			氏名：<input type="text" name="name" placeholder="名前を入力してください" th:value="${name}" required>
		</p>
		<input type="submit" value="登録">
	</form>
	<br>
	<form th:action="@{/login1}">
	<input type="submit" value="戻る">
	</form>
	
		<br><br>
	<div class="footer">
			<p>copyright 一人暮らしの家探し 2023</p>
	</div>
</body>


</html>