<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>HTML</title>
		<meta http-equiv="refresh" content="2">
			<link rel="stylesheet" th:href="@{/chat.css}">
</head>

<body>

	<label th:text="${toname}" class=""></label>
	<div class="ChatTable">
		<table width="70%" border="1">
			<tr>
				<th width="50%" colspan="2" class="fixed01">チャット</th>
			</tr>
			<tr th:each=" res : ${chatList}">
				<td th:text="${res.chatC}" width="50%"></td>
				<td th:text="${res.chat}" width="50%"></td>
			</tr>
		</table>
	</div>
</body>

</html>