<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="icon" href="/1031.png">
	<link rel="stylesheet" th:href="@{/style-o.css}">
	<link rel="stylesheet" th:href="@{/style-n.css}">
	<link rel="stylesheet" th:href="@{/search.css}">
	<title>物件情報検索</title>
	<meta charset="utf-8" />
	<!-- jQuery本体↓ -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- jQueryが書いてあるファイル↓ -->
	<script src="search.js"></script>
</head>

<header>
	<div class="logo">
		<h1>
			<a th:href="@{/customermenu(logId=${logId})}"><img src="/1031.png"></a>

		</h1>
	</div>
	<nav class="fnavi">
		<ul>
			<li><a th:href="@{/gomo}">ミニゲーム</a></li>
			<li><a href="intro">企業情報</a></li>
			<li><a href="http://localhost:8080/news#olr">お知らせ</a></li>
<!--			<li><a href="form.html" th:href="@{/form}">お問い合わせ</a></li>-->
			<li><a href="home.html" th:href="@{/home}">ログアウト</a></li>
		</ul>
	</nav>
</header>

<body>
	<div class="ConfirmBox"><br>
		<h1 class="kyocho">物件情報検索</h1><br>
		<form method="get" action="/customersearch">
			<div class="form-align">
				<table class="TableSpace">

					<tr>
						<th><label class="Form-Item-Label">
								物件名</label></th>
						<td><input type="text" name="bkname" class="Form-Item-Input"></td>
					</tr>

					<tr>
						<th><label for="dropdown" class="Form-Item-Label">間取り</label>
						</th>
						<td>
							<label class="selectbox-001">
								<select name="space">
									<option value="" hidden>選択してください</option>
									<option value="">全選択</option>
									<option value="1R">1R</option>
									<option value="1K">1K</option>
									<option value="1DK">1DK</option>
									<option value="1LDK">1LDK</option>
								</select>
							</label>
						</td>

					</tr>
					<tr>
						<th>
							<label class="Form-Item-Label">家　賃</label>
						</th>
						<td>

							<div class="RentStyle">
								<div class="RentStyle1">
									<select name="start">
										<option value="0" hidden>選択してください</option>
										<option value="0" selected>下限なし</option>
										<option value="10000">10,000</option>
										<option value="20000">20,000</option>
										<option value="30000">30,000</option>
										<option value="40000">40,000</option>
										<option value="50000">50,000</option>
										<option value="60000">60,000</option>
										<option value="70000">70,000</option>
										<option value="80000">80,000</option>
										<option value="90000">90,000</option>
										<option value="100000">100,000</option>
										<option value="110000">110,000</option>
										<option value="120000">120,000</option>
										<option value="130000">130,000</option>
										<option value="140000">140,000</option>
										<option value="150000">150,000</option>
									</select>
										 <lable  class="selectbox-002"></lable>
								</div>
								<p style="margin-top: 10px;">～</p>
								<div class="RentStyle2">
									<select name="end">
										<option value="0" hidden>選択してください</option>
										<option value="10000">10,000</option>
										<option value="20000">20,000</option>
										<option value="30000">30,000</option>
										<option value="40000">40,000</option>
										<option value="50000">50,000</option>
										<option value="60000">60,000</option>
										<option value="70000">70,000</option>
										<option value="80000">80,000</option>
										<option value="90000">90,000</option>
										<option value="100000">100,000</option>
										<option value="110000">110,000</option>
										<option value="120000">120,000</option>
										<option value="130000">130,000</option>
										<option value="140000">140,000</option>
										<option value="150000">150,000</option>
										<option value="0" selected>上限なし</option>
									</select>
										 <lable  class="selectbox-002"></lable>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><label class="Form-Item-Label">住　所</label>
						</th>
						<td><input type="text" name="place" class="Form-Item-Input"></td>
					</tr>
				</table>
			</div>
			<br><br>
			<p class="kyocho2">詳細</p><br>
			<div class="form-align">

				<label><input type="checkbox" name="comment" value="無料Wi-Fiあり" id="comment1">無料Wi-Fiあり<br> </label>
				<label><input type="checkbox" name="comment" value="駐車場空きあり" id="comment2">駐車場空きあり<br> </label>
				<label><input type="checkbox" name="comment" value="ペット可" id="comment3">ペット可<br> </label>
				<label><input type="checkbox" name="comment" value="室内洗濯機置き場あり" id="comment4">室内洗濯機置き場あり<br> </label>
				<label><input type="checkbox" name="comment" value="オートロックあり" id="comment5">オートロックあり<br> </label>
				<label><input type="checkbox" name="comment" value="バス・トイレ別" id="comment6">バス・トイレ別<br></label>
				<label><input type="checkbox" name="comment" value="南向き" id="comment7">南向き<br></label>
				<label><input type="checkbox" name="comment" value="事故物件" id="comment8">事故物件<br></label>
				<label><input type="checkbox" name="comment" value="危険地帯" id="comment9">危険地帯<br></label>
				<label><input type="checkbox" name="comment" value="物干しあり" id="comment10">物干しあり<br></label>
				<label><input type="checkbox" name="comment" value="コンビニあり" id="comment11">コンビニあり<br></label>
				<label><input type="checkbox" name="comment" value="無料Wi-Fiあり" id="comment12">無料Wi-Fiあり<br></label>
				<label><input type="checkbox" name="comment" value="ウォーターサーバーあり" id="comment13">ウォーターサーバーあり<br></label>
				<label><input type="checkbox" name="comment" value="窓なし" id="comment14">窓なし<br></label>
				<input type="hidden" name="comment" value="">
			</div>
			<br><br>
			<p>
				<input type="submit" value="検索" class="button0">
				<input type="hidden" name="logId" th:value="*{logId}">
			</p>
		</form>
		<form th:action="@{/customermenu}">
			<input type="submit" value="メニューへ戻る" class="button0">
			<input type="hidden" name="logId" th:value="*{logId}">
		</form><br>
	</div>
	<br><br>
	<p class="top-button2">↑</p>
	<footer>
		<p>copyright 一人暮らしの家探し 2023</p>
	</footer>

</body>

</html>