<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
	<meta charset="utf-8" />
	<title>HTML</title>
	<link rel="stylesheet" th:href="@{/style-n.css}">
	<link rel="stylesheet" th:href="@{/chat.css}">
	<style>
		body {
			background-color: #ffdab9;
			color: #000000;
		}
	</style>
</head>
<header>
	<h1>
		<label th:text="${toname}" class="Receiver"></label>
	</h1>
</header>

<body>

	<form id="redirectForm" method="get" action="/displaychat">
		<input type="hidden" name="Id" th:value="*{Id}">
		<input type="hidden" name="logId" th:value="*{logId}">
		<input type="hidden" name="memname" th:value="*{memname}">
		<input type="hidden" name="tp" th:value="*{tp}">
	</form>
	<!--	<div class="ChatBack">-->
	<div>
		<table id="chatTable" border="1" class="ChatTable">
			<!--	 onmousemove="testNum()"		<tr>-->
			<!--				<th width="50%" colspan="2" class="fixed01">チャット</th>-->
			<!--			</tr>-->
			<tr th:each="res : ${chatList}">
				<td th:text="${res.chatC}" class="ChatItem2" width="50%"></td>
				<td th:text="${res.chat}" class="ChatItem" width="50%"></td>
			</tr>
			<tr>
				<td id="olr"></td>
			</tr>
		</table>
	</div>
	<script>
		const redirectForm = document.getElementById('redirectForm');
		const chatTable = document.getElementById('chatTable');
		let previousChatData = '';
	</script>
	<script>
		function submitRedirectForm() {
			redirectForm.submit();
		}
		window.addEventListener('DOMContentLoaded', function () {

			// フォーカス状態になったとき
			window.addEventListener('focus', function () {
				var datetime = new Date();
				console.log("focus in " + datetime.getHours() + ":" + datetime.getMinutes() + ":" + datetime.getSeconds());
				submitRedirectForm()
			});

			// フォーカスが解除されたとき
			window.addEventListener('blur', function () {
				var datetime = new Date();
				console.log("focus out " + datetime.getHours() + ":" + datetime.getMinutes() + ":" + datetime.getSeconds());
				submitRedirectForm()
			});

		});
	</script>
</body>

</html>